<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.carthage.johnson.grant.aerophile" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HostActivity"
            android:label="@string/title_activity_host" >
        </activity>
        <activity
            android:name=".CustomProjectAdapter"
            android:label="@string/title_activity_custom_project_listview" >
        </activity>
        <activity
            android:name=".ProjectHost"
            android:label="@string/title_activity_project_menu" >
        </activity>
    </application>

</manifest>
